* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(187, 132, 238);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10 px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}